<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1> <%= about %> </h1>

    <form id="altaProductos-formulario" class="productos-formulario-amplio">

        <label class="texto-id" for="nombreProducto">Nombre</label>
        <input class="input-formulario" type="text" name="nombre" id="nombreProducto" required>
        <br>

        <label class="texto-id" for="imagenProducto">Imagen</label>
        <input class="input-formulario"  type="text" name="img_url" id="imagenProducto" required>
        <br>

        <label class="texto-id" for="categoriaProducto">Categoria</label>
        <select class="input-formulario" name="tipo" id="categoriaProducto" required>
            <option value="FIGURITAS">Figuritas</option>
            <option value="ACCESORIOS">Accesorios</option>
        </select>
        <br>

        <label class="texto-id" for="precioProducto">Precio</label>
        <input class="input-formulario" type="number" name="precio" id="precioProducto" required>
        <br>

        <input class="boton" type="submit" value="Crear producto">
    </form>

    <hr>
    <div id="contenedor-productos"></div>
</main>

<script src="js/crear.js"></script>

<%- include("partials/footer.ejs") %>