/*================
    General
================*/
header {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: black;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.90)), 
        url('https://images.unsplash.com/photo-1522778119026-d647f0596c20?w=1920&h=1080&fit=crop');

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    background-attachment: fixed;
    
    margin: 0; 

    font-family: monospace;
}

/*================
    Encabezado
================*/
nav{
    position: fixed;
    padding-top: 30px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 0.5px solid white;
}

nav ul a{
    text-decoration: none;
    color: white
}


/*================
    main
================*/
h1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
    margin: 0px;
    color: white;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px !important;
    margin: auto;
    width: 86%;
}

.carta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 175px;
    height: 200px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.45);
}

#contenedor-productos h5, #contenedor-productos p {
    margin: 0;
}

.carta-producto img {
    width: 100px;
}


.carta-texto{
    height: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


#listado-productos {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.li-listados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.li-listados img {
    width: 65px;
}

.li-listados p, .li-listados img {
    margin-bottom: 0;
}

.li-botonera {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.productos-formulario {
    width: 35%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
}

.productos-formulario-amplio {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mensaje-error strong {
    color: #ae4f4e;
}

.mensaje-error {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 16px;
}