/*================
    General
================*/
header {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: black;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.90)), 
        url('https://images.unsplash.com/photo-1522778119026-d647f0596c20?w=1920&h=1080&fit=crop');

    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    background-size: cover;

    background-position: center;

    background-attachment: fixed;
    
    margin: 0; 

    font-family: monospace;
}

/*================
    Encabezado
================*/
nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 0.5px solid white;
}

nav ul a{
    text-decoration: none;
    color: white
}

nav li:hover{
    color: #51b1a3;
    font-weight: bold;
    transform: scale(1.10); 
}
form#logout {
    padding-bottom: 20px;
}

/*================
    main
================*/
h1{
    display: flex;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 20px;
    margin: 0px;
    color: white;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px !important;
    margin: auto;
    width: 86%;
    margin-bottom: 30px;
}

.carta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 200px;
    height: 265px;
    margin: 5px;
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
    justify-content: space-evenly;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.carta-producto:hover, .boton:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: #ccc;
    transform: scale(1.05); 
}


#contenedor-productos h5, #contenedor-productos p {
    margin: 0;
}

#contenedor-productos h5{
    /* esto es para recortar los textos de los titulos de los productos con puntos ... */
    /* para multiples lineas no hay otra manera de hacerlo */
    /* Fallback moderno */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    /* Sintaxis moderna */
    line-clamp: 2;

    overflow: hidden;
    margin-bottom: 10px;
}

.carta-producto img {
    width: auto;
    height: auto;
    max-width: 85%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.carta-imagen{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

.carta-texto{
    height: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 85%;
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.carta-id-precio{
    display: flex;
    justify-content: space-around;
}

#listado-productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}

.li-listados {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: white;
}

.li-listados p, .li-listados img {
    margin-bottom: 0;
}

.li-botonera {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.texto-id {
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

#idProd, #idProducto {
    width: 10%;
    margin-top: 7px;
}

/* cambie */
.input-formulario{
    width: 100%;
    margin-top: 7px;
    box-sizing: border-box;
}

select#categoriaProducto, #productoActivo {
    height: 22px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.boton {
    padding: 2px 6px;
    border-radius: 5px;
    /* border: 50px; */
    margin: 17px;
    cursor: pointer;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    /* font-weight: bold; */
    background-color: white;
}

.boton:hover{
    background-color: #ccc;
    border: 0;
}

.boton-salir:hover {
    background-color: #ff4d4d; /* Rojo al pasar el mouse */
    color: white;
}

.productos-formulario {
    margin-bottom: 30px;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.productos-formulario-modificar {
    width: 70%;
    margin: 0 auto;
}

.productos-formulario-amplio {
    display: flex;
    align-items: center;
    width: 100%;
    width: 50%;
    margin: auto;
    flex-direction: column;
    color: white;
}

.login-formulario{
    width: 30% !important;
}

.botones-login {
    display: flex;
}

.estilo-formulario{
    width: 100%;
    box-sizing: border-box;
}
.esconder{
    display: none;
}

.mensaje-error strong {
    font-weight: bold;
    color: #ae4f4e;
}

.mensaje-error {
    color: #a94442;
    font-weight: bold;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
    padding: 10px 30px;
    border-radius: 4px;
    font-size: 14px;
}

.div-mensaje-error{
    margin-top: 15px ;
    display: flex;
    justify-content: center;
}

.contenedor-modificar{
    display: flex;
    
}


.main-crear{
    display: flex;
}

.recuadro.formulario{
    width: 100%;
}

